*{
  box-sizing:border-box;  
  text-decoration: none;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  
}
:root
{
  --color:white;
  --blue:#17AFDF;
  --dark:rgba(0, 0, 0, 0.418);
  --lightblue:rgba(195, 229, 238, 0.33);

}

::after,::after{
  box-sizing: border-box;
}
.navbar{
  height: 70px;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  box-shadow:-4px 0px 16px var(--dark) ;
}
.navbar .logo{
  padding: 1em;
  display: inline-flex;
  margin-left: 2rem;
}
.navbar .logo span{
  font-weight: 900;
  font-size: 40px;
}


.navbar .nav-menu ul{
  display: flex;
  justify-content: space-around;
  margin-right: 4rem;
}
.navbar .nav-menu ul li{
  list-style: none;
  padding: 1em;
  text-align: center;
}
.navbar .nav-menu ul li a.active{
  color: var(--blue);
  font-weight: bolder;
  padding-bottom: 1em;
  border-bottom: 3px solid var(--blue);
  text-align: center;
}

main .container{
display: grid;
grid-template-columns: 1fr 1fr;
}
main .container .main1{
display: grid;
grid-template-rows: 1fr 1fr;
}
.container .main1 .card{
  margin-top: 2rem;
  width: 400px;
  height: 270px;
  justify-items: center;
  margin-left: 10rem;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  background-color:  rgba(0, 0, 0, 0.01);
  text-align: center;
}
.card h1{
  margin-top: 1rem;
}
.card .card-body{
  font-family: 'Times New Roman';
font-style: italic;
margin-top: 1rem;
font-weight: 400;
text-align: left;
margin-left: 0.5em;
font-size: 30px;
/* line-height: 0px; */
}

.main1 .descr{
  color: var(--blue);
  font-weight: bold;
 word-wrap: break-word;
 width: 400px;
 height: 100px;
 justify-items: center;
 margin-left: 10rem;
 margin-top: 3rem;
  display: flex;
}
.main1 .descr span{
  color: black;
  margin-right: 0.5rem;
}
.main1 .descr div{
  font-size: 20px;
}
.poylgon{
  position: absolute;
  top: 70%;
  right: 47.4%;
  width: 70px;
  height: 70px;
}
.container .main2{
  background-color: var(--lightblue);
  height:597px;
  display:grid;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  
}



.main2 .profile{
  height: 550px;
  text-align: center;
}
.profile .profile-title{
  padding: 2rem;
  font-size: 20px;
}
.profile .profile-title span{
  color: var(--blue);
  font-weight: bold;
  margin-bottom: 1rem;
  
}
.profile .profile-title div{
  margin-top: 1rem;
}
.main2 .outer-layer{
  outline: 1px solid black;
  height:400px;
  width: 400px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  margin-left: 6rem;
}
.main2 .image{
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background-color: black;
  overflow: hidden;
  margin-left: 1.5rem;
}
.main2 .image img{
  height:350px;
  width: 350px;
}

main .container-about{
  display: grid;
grid-template-columns: 4fr 7fr;
}
main .container-about .profile img{
  width: 400px;
  height: 550px;
  margin-left: 3rem;
  margin-top: 1rem;
}
main .container-about .container{
  font-family: 'Times New Roman';
}
main .container-about .container .card-title{
  font-size: 40px;
  font-weight: bold;
}
main .container-about .container .card-body{
  font-size: 22px;
  margin-right: 2rem;
}
.container-about .container{
  display: flex;
  flex-direction: column ;
}
.container-about .container .container-details{
  font-size: 22px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 2rem;
  align-content: space-between;
}
.container-about .container .container-details .title{
  font-weight: bold;
}
main .container-about .container .container-completed-pro{
  font-size: 22px;
}
main .container-about .container .container-completed-pro span{
  color: var(--blue);
  font-weight: bold;
}
main .container-about .container .download{
  margin-top: 2rem;
}
main .container-about .container .download a{
  background-color: var(--blue);
  margin-left: 3rem;
  color: white;
  padding: 1rem;
  border-radius: 50px;
}
main .container-about .container .download .hire{
  background-color: black;
  margin-left: 5rem;
  color: white;
  padding: 1rem;
  border-radius: 50px;
}
main .card-experience{
  margin-left: 2rem;
  font-size: 22px;
}
main .card-experience .experience-title{
  font-size: 30;
  color: var(--blue);
  margin-left: 7rem;
  margin-top: 2rem;
}
main .card-experience .experience-title span img{
  height: 60px;
width: 60px;
border-radius: 90px;


}
main .card-experience .card{
  margin-top: 2rem;
  width: 1120px;
  height: 190px;
  justify-items: center;
  margin-left: 7rem;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  background-color:  rgba(0, 0, 0, 0.01);
  text-align: center;
}
main .card-experience .card .card-title{
  font-weight: bold;
  text-align: left;
  margin-left: 1rem;
  font-size: 30px;
}
main .card-skills{
  margin-left: 2rem;
  font-size: 22px;
}
main .card-skills .card-title .skills-title span img{
  height: 60px;
width: 60px;
border-radius: 90px;
}
main .card-skills .card-title .skills-title{
  font-size: 30;
  color: var(--blue);
  margin-left: 7rem;
  margin-top: 2rem;
}
main .card-skills .card-body{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
main .card-skills .card-body .card{
  margin-top: 2rem;
  width: 250px;
  height: 300px;
  justify-items: center;
  margin-left: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  background-color:  rgba(0, 0, 0, 0.01);
  text-align: center;
}
main .card-skills .card-body .card .card-title{
  margin-top: 1rem;
}
main .container-services{
  margin-top: 1rem;
  margin-left: 2rem;
  font-size: 22px;
}
main .container-services .card-service .card-title .service-title{
  font-size: 30;
  color: var(--blue);
  margin-left: 7rem;
  margin-top: 2rem;
}
main .container-services .card-service .card-title .service-title span img{
  height: 60px;
width: 60px;
border-radius: 90px;
}
main .container-services .service-body{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
main .container-services .service-body .card .card-title{
  margin-top: 1rem;
  color: var(--blue);
  font-size: 35px;
}
main .container-services .service-body .card{
  margin-top: 1rem;
  width: 400px;
  height: 300px;
  justify-items: center;
  margin-left: 1rem;
  margin-bottom: 2rem;
  /* margin-right: 3rem; */
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  background-color:  rgba(0, 0, 0, 0.01);
  text-align: center;
  
}
main .container-services .service-body .card .card-body{
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
}


main .container-contact{
  display: grid;
  grid-template-columns: 3fr 5fr;
}
main .contact-desc{
  margin-top: 1rem;
}
main .container-contact .contact-profile img{
  width: 400px;
  height: 500px;
  margin-left: 6rem;
  margin-top: 1rem;
}
main .container-contact .contact-desc{
  margin-left: 2rem;
}
main .container-contact .contact-desc .contact-title{
  margin-top: 1rem;
  color: var(--blue);
  font-size: 35px;
}
main .container-contact .contact-desc .contact-body .input input{
border: 1px solid var(--blue);
border-radius: 8px;
width: 500;
height: 40px;
margin-top: 1rem;
font-size: 18px;
}
main .container-contact .contact-desc .contact-body .input textarea{
border: 1px solid var(--blue);
border-radius: 8px;
width: 500;
margin-top: 1rem;
font-family: 'Times New Roman', Times, serif;
font-size: 18px;
}
main .container-contact .contact-desc .contact-body button{
border: 1px solid var(--blue);
background-color: var(--blue);
color: white;
border-radius: 8px;
width: 150;
height: 2rem;
border: #17AFDF;
margin-left: 9rem;
margin-top: 1rem;
font-family: 'Times New Roman', Times, serif;
font-size: 22px;
}